
@{
    ViewBag.Title = "Index";
}

<h2>Katla Support Service</h2>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<br />
<div>
    <p style="color:darkgray; font-size: 20px; text-align: justify;">
        <strong style="color:black;">Katla support </strong>service is a lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum massa magna, porttitor non dolor eu, euismod consectetur diam. Etiam quam purus, varius
        id elementum ornare, tincidunt quis mi. Donec ut accumsan elit. Sed porta eros at dui tincidunt, non
        ultrices est dignissim. Donec pellentesque ultrices mi, eget vehicula augue vestibulum quis. Cras
        rhoncus vel ante in lobortis. Maecenas vitae risus ligula. Mauris eleifend sodales est, eget semper
        mauris commodo non. Nam eleifend porttitor purus ac egestas. Sed ultrices lobortis ante, eget egestas
        turpis finibus a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Donec maximus.<br />
        Proin justo sem, viverra nec sollicitudin non, sollicitudin id sapien. Nullam at ex nec sapien feugiat
        malesuada eu id leo. Duis non neque quis nisi placerat consectetur a vitae massa. Ut tristique
        efficitur massa, vitae venenatis urna porta nec. Nunc ac efficitur tortor, non fermentum turpis.
        Nulla lobortis interdum vehicula. Nullam elit ipsum, gravida vitae pharetra aliquet, scelerisque
        sit amet diam. Nunc semper fermentum augue, et iaculis velit porta sed. Vivamus et tincidunt neque.<br />
        In vestibulum, sapien ut ultricies sagittis, augue ex vestibulum ligula, cursus condimentum
        odio odio nec nisi. Suspendisse potenti. Phasellus at lectus est. Etiam in egestas ipsum, nec
        fringilla libero. Aenean velit arcu, condimentum quis mi sit amet, interdum tincidunt lectus. Etiam
        feugiat tincidunt dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris.<br />
    </p>
</div>
<div style="bottom:0px; right:40px; text-align: right; position: fixed; bottom: 30px;">
    <img width="150" height="auto" src="https://wiki.teamfortress.com/w/images/d/d9/Engineer_Gift_of_Giving.png" />
</div>

