@{
    ViewBag.Title = "Index";
}

<h2>Registration</h2>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<form>
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label id="status" class="col-md-offset-2" style="color:red; visibility:hidden;">Sorry but accout with this login already exists!</label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Login</label>
            <div class="col-md-10">
                <input type="text" required class="form-control text-box single-line" placeholder="Login" id="login" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Password</label>
            <div class="col-md-10">
                <input type="password" required placeholder="Password" class="form-control text-box single-line" id="password" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">First Name</label>
            <div class="col-md-10">
                <input type="text" required placeholder="Ivan" class="form-control text-box single-line" id="firstName" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Last Name</label>
            <div class="col-md-10">
                <input type="text" required placeholder="Ivanov" class="form-control text-box single-line" id="lastName" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Patronymic</label>
            <div class="col-md-10">
                <input type="text" placeholder="Ivanovich" class="form-control text-box single-line" id="patronymic" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Phone</label>
            <div class="col-md-10">
                <input type="tel" required placeholder="375291234567" class="form-control text-box single-line" id="phone" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">E-mail</label>
            <div class="col-md-10">
                <input type="email" required placeholder="ivan_ivanov@example.com" class="form-control text-box single-line" id="email" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="role">Role</label>
            <div class="col-md-10">
                <select class="form-control" id="role">
                    <option selected="selected">CEO</option>
                    <option value="HeadOfUnit">Head of unit</option>
                    <option>Guard</option>
                    <option>Accountant</option>
                    <option>Translator</option>
                    <option>Developer</option>
                    <option value="SupportEngineer">Support engineer</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="room">Room</label>
            <div class="col-md-10">
                <select class="form-control" id="room">
                    <option selected="selected">1.1</option>
                    <option>1.1a</option>
                    <option>A1-2</option>
                    <option>A1-3</option>
                    <option>A1-4</option>
                    <option>L0-1</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-11">
                <button id="register" class="btn btn-info">Register</button>
            </div>
        </div>

    </div>
</form>

@Scripts.Render("~/bundles/register")


