
@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/redirector")

<div id="tableBlock"></div>

<style type="text/css">
    td {
        padding: 10px;
    }

    th {
        padding: 0 10px 0 10px;
    }
</style>

<script type="text/javascript">
    GetAllTasks();

    function GetAllTasks() {

        $("#createBlock").css('display', 'block');
        $("#editBlock").css('display', 'none');
        $.ajax({
            url: '/api/tasks/' + getCookie("id"),
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert("Something goes wrong!");
            }
        });
    }

    function getCookie(name) {
        let matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    function WriteResponse(tasks) {
        var strResult = "<table><th>ID</th><th>Category</th><th>Text</th><th>Creation Date</th>";
        $.each(tasks, function (index, task) {
            strResult += '<tr style="background-color:' + (task.IsClosed ? 'coral;"' : 'greenyellow;"') + "><td>" + task.Id + "</td><td> " + task.Category + "</td><td>" +
                task.Text + "</td><td>" + (new Date(task.CreatingDate).toLocaleDateString()) +
                "</td>" + "<td><a id='details' onclick='Show(" + task.Id + ");' style='cursor:pointer;'><button class='btn btn-info'>Details</button></a></td></tr>";
        });
        strResult += "</table>";
        $("#tableBlock").html(strResult);
        
    }

    function Show(taskid) {
        document.location.href = "/Support/TaskDetails/" + taskid;
    }
</script>
<hr />
<div class="form-group">
    <div class="col-md-offset-0 col-md-11">
        <a href="/Support/CreateTask"><button id="entr-btn" class="btn btn-info">Create a new task</button></a>
    </div>
</div>