@model WebAPI.Models.ThanksModel
@{
    ViewBag.Title = "Thanks";
}

<h4>Your @Model.EntityName was created successfully!</h4>
<h2>@Model.AdditionalInfo</h2>
<img width="200px" height="auto" src="https://i1.yuki.la/5/76/212e4ab8793e9ada3781bad316ea73be656077e39d592b544f99355ad5136765.png" style="bottom:0px;"/>
